
/* --- Cards Section --- */
.cards-section {
    padding: 4rem 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    margin-bottom: 4rem;
}

.section-header h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.separator {
    width: 60px;
    height: 3px;
    background-color: var(--accent-gold);
    margin: 0 auto;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

/* --- Card Styles --- */
.card {
    background-color: var(--card-bg);
    border: 3px solid var(--accent-gold);
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    opacity: 1;
}

.card:hover {
    box-shadow: 0 10px 30px -10px var(--gold-glow);
}


.card-image {
    width: 100%;
    height: 360px;
    overflow: hidden; 
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.card-content {
    padding: 2rem;
    text-align: center;
}

.card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--text-color);
}

.card-btn {
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-bottom: 5px;
    border-bottom: 1px solid var(--accent-gold);
    color: var(--text-color);
    transition: color 0.3s;
}