
/* --- Hero Section --- */
.hero-section {
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    background: radial-gradient(circle at center, transparent 0%, var(--bg-color) 100%);
    position: relative;
}
.gold-text{
    color: var(--accent-gold);
    padding-left: 12px ;
}
.hero-title {
    font-size: 6rem;
    margin: 0 auto 1rem auto;
    line-height: 1.1;
    opacity: 0; /* JS handles fade in */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
}

.hero-subtitle {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 auto 2.5rem auto;
    max-width: 600px;
    letter-spacing: 1px;
    opacity: 0;
    box-sizing: border-box;
}
