/* --- Variables & Themes --- */
:root {
    --primary-red: #5d001e; /* Wine Red */
    --accent-gold: #d4af37; /* Metallic Gold */
    --gold-glow: rgba(212, 175, 55, 0.4);
    
    /* Light Theme Defaults */
    --bg-color: #fdfbf7; /* Off-white luxury */
    --text-color: #1a1a1a;
    --card-bg: #ffffff;
    --nav-bg: rgba(253, 251, 247, 0.85);
    --border-color: #e0e0e0;
    /* Fonts */
    --font-head: 'Poppins', sans-serif;
    --font-body: 'Inter', sans-serif;
    
}

[data-theme="dark"] {
    --bg-color: #0f0f0f; /* Deep Charcoal */
    --text-color: #f0f0f0;
    --card-bg: #1a1a1a;
    --nav-bg: rgba(15, 15, 15, 0.85);
    --border-color: #333;
}

/* --- Global Reset --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     text-decoration: none;
}

body {
    font-family: var(--font-body);
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: var(--font-head);
}


.theme-btn .icon-sun { display: none; }
[data-theme="dark"] .theme-btn .icon-sun { display: inline; }
[data-theme="dark"] .theme-btn .icon-moon { display: none; }

.line {
    width: 100%;
    height: 2px;
    background-color: var(--text-color);
    transition: transform 0.3s;
}
